<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeBrains"
        tools:targetApi="31">
        <activity
            android:name=".messaging.Chat"
            android:exported="false" />
        <activity android:name=".messaging.ChatDetails"
            android:exported="false"/>

        <activity
            android:name=".Job_View_Details"
            android:exported="false" />
        <activity
            android:name=".job.JobActivity"
            android:exported="false" />
        <activity
            android:name=".BidActivity"
            android:exported="false" />
        <activity
            android:name=".freelancer.JobDetailActivity"
            android:exported="false" />
        <activity
            android:name=".JobpostingActivity"
            android:exported="false" />
        <activity
            android:name=".Homepage_developer"
            android:exported="false"
            android:label="@string/title_activity_homepage_developer"
            android:theme="@style/Theme.CodeBrains.NoActionBar" />
        <activity
            android:name=".AIchatbot"
            android:exported="false" />
        <activity
            android:name=".connectus"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false"
            android:label="@string/title_activity_homepage"
            android:theme="@style/Theme.CodeBrains.NoActionBar" />
        <activity
            android:name=".freelancer.freelancer_form1"
            android:exported="false" />
        <activity
            android:name=".freelancer.freelancer_register"
            android:exported="false" />
        <activity android:name=".freelancer.FindjobActivity"
            android:exported="false"
            />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".with_google"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>